body {
  font-family: Tahoma;
  background: url(/images/background.jpg) repeat;
}
.reaper form {
  height: 240px;
  background-color: #d9b778;
  width: 250px;
  margin-left: 76px;
  border-radius: 15px;
  text-align: center;
  padding-top: 6pt;
}
.reaper form input {
  font-size: 18pt;
  background-color: #fff8ee;
}
.reaper form select {
  font-size: 11pt;
  font-color: #d9b778;
  background-color: #ecf1ff;
  width: 80%;
}
.reaper form label {
  display: none;  /* hide the labels, only used for cukes */
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 11pt;
}
form .w100 { width: 95%;}
form .w66 { width: 60%;}
form .w34 { width: 30%;}
table {
  border: solid #caebf3 5px;
  background-color: white;
  width: 900px;
  border-collapse: collapse;
}
table thead, table tfoot {
  background-color: #caebf3;
}
table tbody {
}
table tr.odd { background-color: #fff8ee;}
table .money {
  text-align: right;
}
table .padded { padding-left: 1.2em;}

.left-col {
  float: left;
  background: url(/images/reaper.png) no-repeat;
  width: 420px;
  padding-top: 185px;
}

.table {
  float: left;
  width: 960px;
}

.print {
  padding-left: 880px;
}

.field_with_errors { display: inline; }
.field_with_errors input::-webkit-input-placeholder { color:red;}

.center {
  text-align: center;
}

.notes {
  position: relative;
  background-color:inherit;
}

.nubbin {
  position: absolute;
  top: 0px;
  right: -48px;
  width: 48px;
  display: none;
  /*background-color:inherit;*/
}
.nubbin img {
  float:right;
  padding: 3px;
}

tr:hover .nubbin { display: block; }
